@model IEnumerable<RANKING>
@{
    ViewBag.Title = "นำเข้าระบบ Ranking";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<link href="~/Content/Paper.css" rel="stylesheet" />
<script src="~/Scripts/admin/UploadExcel.js"></script>

<div id="main" class="container" ng-app="excelModule" ng-controller="excelController" hidden="hidden">
    <br />
    <div class="row" ng-init="initial('')">
        <page size="A4" layout="portrait">
            <input type="hidden" id="hdGetUrl" name="name" value="@Url.Action("GetUrlActionUploadExcel", "Admin")" />
            <br />
            @if (ViewBag.ErrorMesasge == null)
            {
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-3 col-md-offset-3">
                        <h2 class="col-all-center">นำเข้าระบบ Ranking</h2>
                        <hr class="colorgraph">
                        <div class="row ">
                            <div class="col-xs-12 col-sm-6 col-md-6 ">
                                <div class="form-group">
                                    <input type="text" name="CODE" id="CODE" ng-model="model.ranktext.val" class="form-control" placeholder="สร้าง RankingName" tabindex="1">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 ">
                                <button type="button" class="btn btn-primary col-xxs-mtop" ng-click="createranking()">
                                    <i class="fa fa-floppy-o"></i> สร้าง
                                </button>
                            </div>

                            <div class="col-md-2 col-lg-2 col-xs-12 col-sm-12 col-xs-12 pull-right">
                                <button type="button" ng-click="removerankConfirm()" class="btn btn-danger col-xxs-mtop">
                                    <i class="fa fa-recycle"></i> ลบ
                                </button>
                            </div>
                            @*<div class="col-xs-12 col-sm-3 col-md-3 ">
                    <button type="button" class="btn btn-info col-xxs-mtop" onclick="location.href='@Url.Action("MenuView", "Admin")'">
                        <i class="fa fa-arrow-right"></i> ย้อนกลับ
                    </button>
                </div>*@
                        </div>
                        <div class="row">
                            @using (Html.BeginForm("Upload", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <div class="col-xs-12 col-sm-12 col-md-6">
                                    <select name="RANKING_ID" class="select" ng-model="model.rankid.val" ng-change="getRankcode()">
                                        @foreach (var item in Model)
                                        {
                                            <option value="@item.ID">@item.DESC</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12 col-xs-12  detailbox databox">
                                    <input type="file" name="UploadedFile" />
                                </div>
                                <div class="col-md-2 col-lg-2 col-xs-12 col-sm-12 col-xs-12">
                                    <button type="submit"  class="btn btn-success col-xxs-mtop">
                                        <i class="fa fa-upload"></i> อัพโหลด
                                    </button>
                                </div>
                            }

                        </div>
                        <hr class="colorgraph">
                    </div>

                </div>

                <div id="bodycontent" class="row" ng-show="model.rankCode.series.length > 0">    
                    <div class="row col-all-center">
                        <div class="col-lg-3 col-md-3">
                            <select class="select" ng-model="model.rankCode.val" ng-change="getrankdetail()">
                                <option value="" disabled="disabled" hidden="hidden"> - เลือก - </option>
                                <option value="{{_rankCode.RANK_CODE}}" ng-repeat="_rankCode in model.rankCode.series">{{_rankCode.RANK_CODE}}</option>
                            </select>
                        </div>
                    </div>              
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">                      
                        <div class="table-responsive">
                            <table class="hint-table  table table-striped" style="width: 100%; font-size: 1.5em;">
                                <thead>
                                    <tr>
                                        <th width="10%" style="min-width:60px;">อันดับ</th>
                                        <th width="10%">รหัส</th>
                                        <th width="30%">ชื่อ - นามสกุล</th>                                       
                                        <th width="30%">สังกัด</th>
                                        <th width="10%">คะแนน</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr pagination-id="bodycontent" dir-paginate="_rankdata in  model.rankdata.series | itemsPerPage:pagination.size ">
                                        <td ng-bind="_rankdata.RANK"></td>
                                        <td ng-bind="_rankdata.PLAYER_ID"></td>
                                        <td ng-bind="_rankdata.NAME"></td>
                                        <td ng-bind="_rankdata.BELONG_TO"></td>
                                        <td ng-bind="_rankdata.POINT"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">                        
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                            <dir-pagination-controls class="pull-right"
                                                     max-size="pagination.maxSize"                                                  
                                                     pagination-id="bodycontent"
                                                     direction-links="true"
                                                     boundary-links="true">
                            </dir-pagination-controls>
                        </div>
                    </div>
                </div>



            }
            else
            {
                <h3>เกิดข้อผิดพลาด</h3>
                <p>@ViewBag.ErrorMesasge </p>
            }
        </page>
    </div>

</div>
